@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Rubik-Italic";
  src: url(/assets/fonts/Rubik-Italic-VariableFont_wght.ttf);
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  background-color: #0e1323;
  color: white;
}

.pageFormat {
  margin-top: 10rem;
}

h1 {
  font-weight: 100;
  margin: 0px;
  width: fit-content !important;
  font-size: 64px;
}

h2 {
  font-weight: 100;
  margin: 0px;
  width: fit-content !important;
  font-size: 48px;
}

h3 {
  font-size: 24px;
  width: 100%;
  margin: 0px;
}

p {
  color: #7078c9;
  margin: 0px;
  width: fit-content !important;
}

.row {
  padding: 0rem 3rem 0rem 3rem;
}

.col-10 {
  padding: 0px;
}
.col-6 {
  padding: 0px;
}
.col-xl-10{
    padding: 0px;
}
.nameBlock {
  padding: 2rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 3;
  margin-bottom: -15px;
  border-radius: 1rem;
}

.pfp {
  width: 85px;
  margin-bottom: 2rem;
}

.timeTabs {
  position: relative;
  z-index: 1;
  border-end-end-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  padding: 1.5rem 2rem 1rem 2rem;
}

.timeTabs p:hover {
  cursor: pointer;
  color: white;
}

.timeTabs p {
  padding: 0.25rem 0rem 0.75rem 0rem;
}

.iconBlock {
  display: flex;
  justify-content: end;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
  margin-bottom: -16px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.iconFormat {
  padding-right: 1rem;
  height: 70px;
  max-width: 150px;
  margin-top: -12px;
  margin-bottom: -15px;
}

.blockGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.blockGrid p {
  padding: 0px;
  padding-bottom: 1rem;
}

.blockGrid h1 {
  padding: 0px;
  padding-bottom: 0.5rem;
}

.blockGrid h3 {
  padding: 2rem 0rem 1rem 0rem;
}

#card {
  background-color: #1c204b;
  border-radius: 1rem;
  position: relative;
  z-index: 3;
}

#card:hover {
  background-color: #33397a;
}

.ellipsisIcon {
  display: flex;
  align-items: center;
}

.ellipsisIcon:hover {
  cursor: pointer;
  filter: brightness(200%);
}

.ellipsisIcon img {
  height: 5px;
}

.inputSpace {
  padding: 0px !important;
}

.workBlock {
  grid-column: 1/2;
  grid-row: 1;
  border-radius: 1rem;
}

.playBlock {
  grid-column: 2/3;
  grid-row: 1;
  border-radius: 1rem;
}

.studyBlock {
  grid-column: 3/4;
  grid-row: 1;
  border-radius: 1rem;
}

.exerciseBlock {
  grid-column: 1/2;
  grid-row: 2;
  border-radius: 1rem;
}

.socialBlock {
  grid-column: 2/3;
  grid-row: 2;
  border-radius: 1rem;
}

.selfcareBlock {
  grid-column: 3/4;
  grid-row: 2;
  border-radius: 1rem;
}

@media screen and (max-width: 1400px) {
    h1{
        font-size: 56px;
    }

    .nameBlock{
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 1200px) {
.pageFormat{
    margin-top: 4rem;
}

    .row{
        padding: 0rem 2rem 0rem 2rem;
    }

    .pfp{
        width: 150px;
    }

  .blockGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
  }
  .workBlock {
    grid-column: 1/2;
    grid-row: 1;
    border-radius: 1rem;
  }

  .playBlock {
    grid-column: 2/3;
    grid-row: 1;
    border-radius: 1rem;
  }

  .studyBlock {
    grid-column: 1/2;
    grid-row: 2;
    border-radius: 1rem;
  }

  .exerciseBlock {
    grid-column: 2/3;
    grid-row: 2;
    border-radius: 1rem;
  }

  .socialBlock {
    grid-column: 1/2;
    grid-row: 3;
    border-radius: 1rem;
  }

  .selfcareBlock {
    grid-column: 2/3;
    grid-row: 3;
    border-radius: 1rem;
  }

  .profileCard{
    position: fixed;
    max-width: 250px;
  }

}

@media screen and (max-width:1000px) {
    .container{
        max-width: 900px;
    }
    
    h2{
        font-size: 48px;
    }

}

@media screen and (max-width:900px) {

    h3{
        font-size: 28px;
    }

    .profileCard{
        max-width: 230px;
    }
}

@media screen and (max-width:767px) {
    .blockGrid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(6, 1fr);
        gap: 1rem;
        margin-left: 2rem;
      }
      .workBlock {
        grid-column: 1/2;
        grid-row: 1;
        border-radius: 1rem;
      }
    
      .playBlock {
        grid-column: 1/2;
        grid-row: 2;
        border-radius: 1rem;
      }
    
      .studyBlock {
        grid-column: 1/2;
        grid-row: 3;
        border-radius: 1rem;
      }
    
      .exerciseBlock {
        grid-column: 1/2;
        grid-row: 4;
        border-radius: 1rem;
      }
    
      .socialBlock {
        grid-column: 1/2;
        grid-row: 5;
        border-radius: 1rem;
      }
    
      .selfcareBlock {
        grid-column: 1/2;
        grid-row: 6;
        border-radius: 1rem;
      }

      .profileCard{
        width: 200px;
        margin-right: 1rem;
      }

      h2{
        font-size: 36px;
      }

      .pfp{
        width: 100%;
      }
     
      .nameBlock{
        padding: 1rem;
        padding-bottom: 2rem;
      }
}

@media screen and (max-width:577px) {
    .pageFormat{
        margin-top: 3rem;
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 28px;
    }
    .ellipsisIcon{
        justify-content: end;
    }

    .nameBlock{
        padding: 1rem
    }

   .mobileFormat{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    grid-column: 1/2;
    grid-row: 1;
   }

   p{
    font-size: 18px;
    color: #9da2d4;
   }


   .previousRow{
    align-self: center;
   }

   .blockGrid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(7, auto);
    gap: 1.5rem;
    margin-left: 0rem;
  }

.nameBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp{
    width: 100px;
    margin: 1rem;
}

.timeTabs{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.timeTabs p{
    font-size: 24px;
}

  .workBlock {
    grid-column: 1/2;
    grid-row: 2;
    border-radius: 1rem;
  }

  .playBlock {
    grid-column: 1/2;
    grid-row: 3;
    border-radius: 1rem;
  }

  .studyBlock {
    grid-column: 1/2;
    grid-row: 4;
    border-radius: 1rem;
  }

  .exerciseBlock {
    grid-column: 1/2;
    grid-row: 5;
    border-radius: 1rem;
  }

  .socialBlock {
    grid-column: 1/2;
    grid-row: 6;
    border-radius: 1rem;
  }

  .selfcareBlock {
    grid-column: 1/2;
    grid-row: 7;
    border-radius: 1rem;
  }


}

@media screen and (max-width:475px) {
    p{
        padding-bottom: 0px !important;
        font-size: 14px;
    }

    .previousRow{
     padding: 0px;
     padding-right: 2rem;
    }

    h1{
        font-size: 32px;
    }

    h2{
        font-size: 22px;
        color: #ffffff;
    }

    h3{
        font-size: 20px;
        padding-bottom: .5rem !important;
    }

    .pfp{
        width: 75px;
        margin: .5rem;
    }

    .nameBlock{
        padding: 1rem 0rem 1rem 0rem;
    }

    .timeTabs{
        padding-top: 2rem;
    }

    .timeTabs p{
        font-size: 16px;
    }

    .iconBlock{
        height: 50px;
    }
}

@media screen and (max-width:376px) {
  .previousRow p{
    font-size: 14px;
  }

  h3{
    padding-bottom: .5rem !important;
    padding-top: 1.5rem !important;
  }

  .iconFormat{
    width: 90px;
  }

  #mobilePage{
    padding: .5rem;
  }

  .ellipsisIcon{
    padding-top: 1.5rem;
  }

}